.partner {
    margin-bottom: 50px;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 60px;
    }
}

@media screen and (max-width: 1023px) {
    .partner {
        &-container {
            gap: 0 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    .partner {
        margin-bottom: 30px;
    }
}